{% extends "front/base.html.twig" %}

{% block main %}

	{% for writer in writers %}
		<div class="container">
			<div class="card" style="width: 50%;">
				<img src="https://picsum.photos/450/250" class="card-img-top" alt="...">
				<div class="card-body">

					<h2>

						<a href="{{ path("writer_show", {'id' : writer.id } ) }}">{{writer.name}}
							{{ writer.firstname }}</a>
					</h2>

				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}
